@import "susy";

$susyMobile: (
        columns: 1,
        gutters: 1/4,
        container: 100%,
        math: fluid,
        output: float,
        gutter-position: inside,
        debug: (
                image: hide,
                color: rgba(#66f, .25),
                output: background,
                toggle: top right,
        ),
);

$susy: (
        columns: 12,
        gutters: 1/4,
        container: 1170px,
        math: fluid,
        output: float,
        gutter-position: inside,
        debug: (
                image: hide,
                color: rgba(#66f, .25),
                output: background,
                toggle: top right,
        ),
);

.container {
  @include container($susy);
}
