doctype
html.no-js
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Dyno
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel="stylesheet", href="stylesheets/main.css")
	body
		<!--[if lt IE 8]>
		<![endif]-->

		.header_wrapper
			.container
				header
					.main_header
						.logo
							img(src="images/logo.png")
						nav
							.navigation
								ul.navigation_list
									li.active: a(href="#") home
									li: a(href="#") about
									li: a(href="#") skills
									li: a(href="#") service
									li: a(href="#") work
									li: a(href="#") testimonial
									li: a(href="#") blog
									li: a(href="#") team
									li: a(href="#") contact
									li: i.search_icon.fa.fa-search

		.greeting_wrapper
			.container
				section
					.header_greeting
						.greeting_text
							h2 the ham is
							h2.green_header wordpress theme
							h1 we are creative
							h3 Just Buy And Enjoy These Awesome Features
						.greeting_buttons
							input.button-explore(type="button" value="explore now")
							input.button-purchase(type="button" value="purchase now")

		section
			.about_theme
				ul
					li.theme_item
						.theme_img_wrapper
							i.push_img
						p.theme_item_descr Different theme option
					li.theme_item
						.theme_img_wrapper
							i.diamond
						p.theme_item_descr fully customizable
					li.theme_item
						.theme_img_wrapper
							i.light
						p.theme_item_descr unlimited support
					li.theme_item
						.theme_img_wrapper
							i.devices
						p.theme_item_descr responsive all device

		section
			.container
				.features
					.features_header_wrapper
						h3 Creative Amazing Features
						.features_divider
					ul.features_list
						li
							.feature_item_head
								i
								h4 Retina Ready
							.feature_descr
								p All our modules are built with the possi bility to thse choose between different design and you change.
						li
							.feature_item_head
								i
								h4 Creative Blog Style
							.feature_descr
								p All our modules are built with the possi bility to thse choose between different design and you change.
						li
							.feature_item_head
								i
								h4 Icon Fonts
							.feature_descr
								p All our modules are built with the possi bility to thse choose between different design and you change.
						li
							.feature_item_head
								i
								h4 Parallax Effects
							.feature_descr
								p All our modules are built with the possi bility to thse choose between different design and you change.
						li
							.feature_item_head
								i
								h4 Amazing Interface
							.feature_descr
								p All our modules are built with the possi bility to thse choose between different design and you change.
						li
							.feature_item_head
								i
								h4 SEO Optimized
							.feature_descr
								p All our modules are built with the possi bility to thse choose between different design and you change.
						li
							.feature_item_head
								i
								h4 Creative Solutions
							.feature_descr
								p All our modules are built with the possi bility to thse choose between different design and you change.
						li
							.feature_item_head
								i
								h4 Mega Menus
							.feature_descr
								p All our modules are built with the possi bility to thse choose between different design and you change.
						li
							.feature_item_head
								i
								h4 Custom Backgrounds
							.feature_descr
								p All our modules are built with the possi bility to thse choose between different design and you change.


		.about_wrapper
			img.about_img(src="images/about-placeholder.jpg")
			.container
				.about
					h3 About Our Company
					.about_divider

					ul.skills_list
						li: a(href="#") our history
						li: a(href="#") our biography
						li.active: a(href="#") our skills

					.skills_progress
						ul
							li
								.ui
									span User Interface
							li
								.web_design
									span Web Design
							li
								.wordpress
									span Wordpress
							li
								.html_css
									span HTML & CSS
							li
								.app_design
									span App Design
		.works_wrapper
			.container
				.works
					.works_head
						h3 Our Amazing Work
						.works_divider
						ul.works_list
							li: a.active(href="#") All
							li: a(href="#") Graphic Design
							li: a(href="#") Web Design
							li: a(href="#") Landing Pages
							li: a(href="#") Wordpress

				.works_images
					ul.portoflio_list
						li.portfolio_item
							.portfolio_img
							.portfolio_hover
								.portfolio_item_icons
									.portfolio_link
										i.fa.fa-link
									.portfolio_search
										i.fa.fa-search
								.portfolio_item_text
									h5 creative design
									span.tag Web Design
						li.portfolio_item
							.portfolio_img
							.portfolio_hover
								.portfolio_item_icons
									.portfolio_link
										i.fa.fa-link
									.portfolio_search
										i.fa.fa-search
								.portfolio_item_text
									h5 creative design
									span.tag Web Design
						li.portfolio_item
							.portfolio_img
							.portfolio_hover
								.portfolio_item_icons
									.portfolio_link
										i.fa.fa-link
									.portfolio_search
										i.fa.fa-search
								.portfolio_item_text
									h5 creative design
									span.tag Web Design
						li.portfolio_item
							.portfolio_img
							.portfolio_hover
								.portfolio_item_icons
									.portfolio_link
										i.fa.fa-link
									.portfolio_search
										i.fa.fa-search
								.portfolio_item_text
									h5 creative design
									span.tag Web Design
						li.portfolio_item
							.portfolio_img
							.portfolio_hover
								.portfolio_item_icons
									.portfolio_link
										i.fa.fa-link
									.portfolio_search
										i.fa.fa-search
								.portfolio_item_text
									h5 creative design
									span.tag Web Design
						li.portfolio_item
							.portfolio_img
							.portfolio_hover
								.portfolio_item_icons
									.portfolio_link
										i.fa.fa-link
									.portfolio_search
										i.fa.fa-search
								.portfolio_item_text
									h5 creative design
									span.tag Web Design
						li.portfolio_item
							.portfolio_img
							.portfolio_hover
								.portfolio_item_icons
									.portfolio_link
										i.fa.fa-link
									.portfolio_search
										i.fa.fa-search
								.portfolio_item_text
									h5 creative design
									span.tag Web Design
						li.portfolio_item
							.portfolio_img
							.portfolio_hover
								.portfolio_item_icons
									.portfolio_link
										i.fa.fa-link
									.portfolio_search
										i.fa.fa-search
								.portfolio_item_text
									h5 creative design
									span.tag Web Design
						li.portfolio_item
							.portfolio_img
							.portfolio_hover
								.portfolio_item_icons
									.portfolio_link
										i.fa.fa-link
									.portfolio_search
										i.fa.fa-search
								.portfolio_item_text
									h5 creative design
									span.tag Web Design
						li.portfolio_item
							.portfolio_img
							.portfolio_hover
								.portfolio_item_icons
									.portfolio_link
										i.fa.fa-link
									.portfolio_search
										i.fa.fa-search
								.portfolio_item_text
									h5 creative design
									span.tag Web Design
						li.portfolio_item
							.portfolio_img
							.portfolio_hover
								.portfolio_item_icons
									.portfolio_link
										i.fa.fa-link
									.portfolio_search
										i.fa.fa-search
								.portfolio_item_text
									h5 creative design
									span.tag Web Design
						li.portfolio_item
							.portfolio_img
							.portfolio_hover
								.portfolio_item_icons
									.portfolio_link
										i.fa.fa-link
									.portfolio_search
										i.fa.fa-search
								.portfolio_item_text
									h5 creative design
									span.tag Web Design





				button.portfolio_load
					i.fa.fa-plus
					span load more

		.services_wrapper
			section
				.container
					.services
						h3 Our Services
						.services_divider
						.services_accrodion
							ul.accordion_list
								li.accordion_item.active
									span Web Design
								li.accordion_item
									span Graphic Design
								li.accordion_item
									span Online Support
								li.accordion_item
									span App Design
								li.accordion_item
									span Online Marketing
								li.accordion_item
									span Seo Service
						.services_text(data-for="Web Design")
							img
							.services_img
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar pulvinar ipsum quis aliquet. Maecenas tincidunt imperdiet feugiat. Praesent risus leo, vestibulum eu eros vel, aliquet mollis arcu. Ut laoreet, nulla in sodales congue, eros quam tincidunt lorem, vel scelerisque justo augue nec purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc posuere libero sit amet pharetra aliquet. In et ullamcorper arcu, ut rutrum lorem. Quisque hendrerit ante sed arcu sollicitudin placerat. eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						.services_text(data-for="Graphic Design")
							img
							.services_img
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Deserunt mollit anim id  usmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						.services_text(data-for="Online Support")
							img
							.services_img
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						.services_text(data-for="App Design")
							img
							.services_img
							p Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar pulvinar ipsum quis aliquet. Maecenas tincidunt imperdiet feugiat. Praesent risus leo, vestibulum eu eros vel, aliquet mollis arcu. Ut laoreet, nulla in sodales congue, eros quam tincidunt lorem, vel scelerisque justo augue nec purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc posuere libero sit amet pharetra aliquet. In et ullamcorper arcu, ut rutrum lorem. Quisque hendrerit ante sed arcu sollicitudin placerat. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						.services_text(data-for="Online Marketing")
							img
							.services_img
							p Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar pulvinar ipsum quis aliquet. Maecenas tincidunt imperdiet feugiat. Praesent risus leo, vestibulum eu eros vel, aliquet mollis arcu. Ut laoreet, nulla in sodales congue, eros quam tincidunt lorem, vel scelerisque justo augue nec purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc posuere libero sit amet pharetra aliquet. In et ullamcorper arcu, ut rutrum lorem. Quisque hendrerit ante sed arcu sollicitudin placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar pulvinar ipsum quis aliquet. Maecenas tincidunt imperdiet feugiat. Praesent risus leo, vestibulum eu eros vel, aliquet mollis arcu. Ut laoreet, nulla in sodales congue, eros quam tincidunt lorem, vel scelerisque justo augue nec purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc posuere libero sit amet pharetra aliquet. In et ullamcorper arcu, ut rutrum lorem. Quisque hendrerit ante sed arcu sollicitudin placerat. elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						.services_text(data-for="Seo Service")
							img
							.services_img
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar pulvinar ipsum quis aliquet. Maecenas tincidunt imperdiet feugiat. Praesent risus leo, vestibulum eu eros vel, aliquet mollis arcu. Ut laoreet, nulla in sodales congue, eros quam tincidunt lorem, vel scelerisque justo augue nec purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc posuere libero sit amet pharetra aliquet. In et ullamcorper arcu, ut rutrum lorem. Quisque hendrerit ante sed arcu sollicitudin placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar pulvinar ipsum quis aliquet. Maecenas tincidunt imperdiet feugiat. Praesent risus leo, vestibulum eu eros vel, aliquet mollis arcu. Ut laoreet, nulla in sodales congue, eros quam tincidunt lorem, vel scelerisque justo augue nec purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc posuere libero sit amet pharetra aliquet. In et ullamcorper arcu, ut rutrum lorem. Quisque hendrerit ante sed arcu sollicitudin placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar pulvinar ipsum quis aliquet. Maecenas tincidunt imperdiet feugiat. Praesent risus leo, vestibulum eu eros vel, aliquet mollis arcu. Ut laoreet, nulla in sodales congue, eros quam tincidunt lorem, vel scelerisque justo augue nec purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc posuere libero sit amet pharetra aliquet. In et ullamcorper arcu, ut rutrum lorem. Quisque hendrerit ante sed arcu sollicitudin placerat.


		.purchase_wrapper
			.container
				h3 Everything is ready. just buy and install now
				p Smooth reliable, responsive ready, perfect portfolio, unique blog layout and many many options for you
				input.button-purchase(type="button" value="purchase now")

		.news_wrapper
			.container
				section
					.news
						.news_header
							h3 Breaking news
						.news_divider
						.news_list
							ul
								li
									article
										.article
											.article_img
												.article_date
													p.day 12
													p.month feb
											.article_descr
												h4.article_name Amazing Image Post
												span.author By admin
												span.comments 2 comments
								li
									article
										.article
											.article_img
												.article_date
													p.day 12
													p.month feb
											.article_descr
												h4.article_name Amazing Image Post
												span.author By admin
												span.comments 2 comments
								li
									article
										.article
											.article_img
												.article_date
													p.day 12
													p.month feb
											.article_descr
												h4.article_name Amazing Image Post
												span.author By admin
												span.comments 2 comments
								li
									article
										.article
											.article_img
												.article_date
													p.day 12
													p.month feb
											.article_descr
												h4.article_name Amazing Image Post
												span.author By admin
												span.comments 2 comments
								li
									article
										.article
											.article_img
												.article_date
													p.day 12
													p.month feb
											.article_descr
												h4.article_name Amazing Image Post
												span.author By admin
												span.comments 2 comments
								li
									article
										.article
											.article_img
												.article_date
													p.day 12
													p.month feb
											.article_descr
												h4.article_name Amazing Image Post
												span.author By admin
												span.comments 2 comments
								li
									article
										.article
											.article_img
												.article_date
													p.day 12
													p.month feb
											.article_descr
												h4.article_name Amazing Image Post
												span.author By admin
												span.comments 2 comments
								li
									article
										.article
											.article_img
												.article_date
													p.day 12
													p.month feb
											.article_descr
												h4.article_name Amazing Image Post
												span.author By admin
												span.comments 2 comments


		section
			.stats
				ul
					li.stats_item
						.stats_item_img
							.stats_inner_div
								i.stats_item_icon
						.stats_item_descr
							h5 4609
							p Works
					li.stats_item
						.stats_item_img
							.stats_inner_div
								i.stats_item_icon
						.stats_item_descr
							h5 3470
							p Customres
					li.stats_item
						.stats_item_img
							.stats_inner_div
								i.stats_item_icon
						.stats_item_descr
							h5 2908
							p Purchase
					li.stats_item
						.stats_item_img
							.stats_inner_div
								i.stats_item_icon
						.stats_item_descr
							h5 1908
							p Office
		section
			.pricing
				.container
					h3 Our Pricing Table
					.pricing_divider
					ul.pricing_list
						li.pricing_item
							ul
								li.pricing_item_name: h4 Personal
								li.pricing_item_price
									h4 $99
										span.price_period /month
								li: p 1 Hosting
								li: p 2 Email Marketing
								li: p 5 Database
								li: p 2 Design Pack
								li: p 3 Website Layouts
								li: p 5 Header Style
								li: p 3 Online Store
								li: input(type="button" value="buy now").btn.buy_now
						li.pricing_item
							ul
								li.pricing_item_name: h4 Business
								li.pricing_item_price
									h4 $199
										span.price_period /month
								li: p 1 Hosting
								li: p 2 Email Marketing
								li: p 5 Database
								li: p 2 Design Pack
								li: p 3 Website Layouts
								li: p 5 Header Style
								li: p 3 Online Store
								li: input(type="button" value="buy now").btn.buy_now
						li.pricing_item.offer
							ul
								li.pricing_item_name
									.offer: span offer
									h4 Professional
								li.pricing_item_price
									h4 $299
										span.price_period /month
								li: p 1 Hosting
								li: p 2 Email Marketing
								li: p 5 Database
								li: p 2 Design Pack
								li: p 3 Website Layouts
								li: p 5 Header Style
								li: p 3 Online Store
								li: input(type="button" value="buy now").btn.buy_now
						li.pricing_item
							ul
								li.pricing_item_name: h4 diamond
								li.pricing_item_price
									h4 $299
										span.price_period /month
								li: p 1 Hosting
								li: p 2 Email Marketing
								li: p 5 Database
								li: p 2 Design Pack
								li: p 3 Website Layouts
								li: p 5 Header Style
								li: p 3 Online Store
								li: input(type="button" value="buy now").btn.buy_now
		.about_us_wrapper
			section
				.about_us
					.container
						h3 What People Say About theHam
						.about_us_divider
						.icons_wrapper
							i.quotes
						p Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis.
						.about_us_list_wrapper
							.prev_button: i.fa.fa-chevron-left
							.next_button: i.fa.fa-chevron-right
							ul.about_us_list
								li.about_item
									.about_item_descr
										p.about_item_name hasan ali
										p.about_item_who UX Designer
									.about_item_img
									br
								li.about_item
									.about_item_descr
										p.about_item_name hasan ali
										p.about_item_who UX Designer
									.about_item_img
								li.about_item
									.about_item_descr
										p.about_item_name hasan ali
										p.about_item_who UX Designer
									.about_item_img
								li.about_item
									.about_item_descr
										p.about_item_name hasan ali
										p.about_item_who UX Designer
									.about_item_img
		.team_wrapper
			section
				.team
					.container
						h3.team_header Meet Our Team
						.team_divider
						ul.team_list
							li.team_item
								.team_item_img
									.team_item_hover
										.team_hover_outer
											.team_hover_inner
												span +

								.team_item_descr
									p.team_member_name Ai Masum
									p.team_member_work Founder
								ul.team_social
									li
										a(href="#")
											i.fa.fa-facebook-f
									li
										a(href="#")
											i.fa.fa-twitter
									li
										a(href="#")
											i.fa.fa-skype
									li
										a(href="#")
											i.fa.fa-vimeo
							li.team_item
								.team_item_img
									.team_item_hover
										.team_hover_outer
											.team_hover_inner
												span +

								.team_item_descr
									p.team_member_name Ai Masum
									p.team_member_work Founder
								ul.team_social
									li
										a(href="#")
											i.fa.fa-facebook-f
									li
										a(href="#")
											i.fa.fa-twitter
									li
										a(href="#")
											i.fa.fa-skype
									li
										a(href="#")
											i.fa.fa-vimeo
							li.team_item
								.team_item_img
									.team_item_hover
										.team_hover_outer
											.team_hover_inner
												span +

								.team_item_descr
									p.team_member_name Ai Masum
									p.team_member_work Founder
								ul.team_social
									li
										a(href="#")
											i.fa.fa-facebook-f
									li
										a(href="#")
											i.fa.fa-twitter
									li
										a(href="#")
											i.fa.fa-skype
									li
										a(href="#")
											i.fa.fa-vimeo
							li.team_item
								.team_item_img
									.team_item_hover
										.team_hover_outer
											.team_hover_inner
												span +

								.team_item_descr
									p.team_member_name Ai Masum
									p.team_member_work Founder
								ul.team_social
									li
										a(href="#")
											i.fa.fa-facebook-f
									li
										a(href="#")
											i.fa.fa-twitter
									li
										a(href="#")
											i.fa.fa-skype
									li
										a(href="#")
											i.fa.fa-vimeo
		.product_wrapper
			section
				.product
					.container
						.product_head
							h3 theham is not only wordpress theme
							h4 it is also clean and creative design
						ul.check_list
							li
								i.fa.fa-check
								span Clean Layout Design
							li
								i.fa.fa-check
								span Many Style Portfolio Design
							li
								i.fa.fa-check
								span Beautiful Blog Page
							li
								i.fa.fa-check
								span Mega PSD Pack
							li
								i.fa.fa-check
								span User Friendly Design
							li
								i.fa.fa-check
								span Full Shortcodes
							li
								i.fa.fa-check
								span Fully Editable PSD
						input(type="button" value="purchase now").btn.puchase_btn
		.form_section_wrapper
			.right_map
			section
				.form_section
					.form_section_head
						h3 Keep In Touch
						.form_section_divider
					form
						input(placeholder="Name")#name_input
						label(for="name_input") имя
						input(placeholder="Email")#email_input
						label(for="email_input") почта
						textarea(placeholder="Message")#message_input
						label(for="message_input") сообщение
						button(type="submit").send_btn: span send request

		.about_template_wrapper
			section
				.about_template
					.container
						.about_theHam
							.theHam_name
								h4 the
									span Ham
							p.theHam_descr Lorem ipsum dolor sit amet, con is sectetur adipiscing elit. Duis ut lob ortis nulla. Vestibulum ante ipsum primis itrices posuere cubilia.

							.contact_info
								p Office:
								p 795 Folsom Ave, Suite 600
								p San Francisco, CA 94107

							.contact_phone
								p Phone:
									span  (91) 8547 632521
								p Fax:
									span  (91) 11 4752 1433
								p Email:
									span  info@canvas.com


						.about_recent
							h5 recent post
							ul.recent_list
								li
									article
										.recent_article
											.recent_article_img
											.article_info
												.recent_article_name
													p A STANDARD IMAGE POST
												.recent_article_descr
													p Lorem ipsum dolor sit amet, con   sectetur adip is lisicing elit, sed do.
												.recent_article_date
													p 10 March, 2015
								li
									article
										.recent_article
											.recent_article_img
											.article_info
												.recent_article_name A STANDARD IMAGE POST
												.recent_article_descr Lorem ipsum dolor sit amet, con   sectetur adip is lisicing elit, sed do.
												.recent_article_date 10 March, 2015
								li
									article
										.recent_article
											.recent_article_img
											.article_info
												.recent_article_name A STANDARD IMAGE POST
												.recent_article_descr Lorem ipsum dolor sit amet, con   sectetur adip is lisicing elit, sed do.
												.recent_article_date 10 March, 2015


						.about_tags
							h5 tags
							.tags
								ul
									li.active: span audio
									li: span gallery
									li: span image
									li: span audio
									li: span gallery
									li: span image
									li: span audio
									li: span gallery
									li: span image
									li: span audio
									li: span gallery
									li: span image

							.subscribe
								h5 newsletter
								p Subscribe to Our Newsletter to get Important News,  Amazing Offers.
								form
									input(type="email" placeholder="Enter email")#subscribe_input.subscribe_input
									label(for="#subscribe_input") subscribe
									input(type="submit" value="go").subscribe_btn


						.about_feed
							h5 Flicke Feed
							.flicke_images
								.flicke_img
								.flicke_img
								.flicke_img
								.flicke_img
								.flicke_img
								.flicke_img
		.footer_wrapper
			footer
				.footer
					p.footer_text Copyright 2015
						span.green_span  theHam
						|  | All right Reserved



	script(src="scripts/app.js")


